/* General Settings */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}


/* Settings */
.header {
  background-color: navy;
  color: white;
  position: fixed;
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-size: 1.5rem;
  line-height: 4rem;
}

.header .navigation {
  display: flex;
  justify-content: flex-end;
  line-height: 4rem;
}

.header li {
  text-align: center;
  padding: 0 1rem;
  background-color: navy;
  opacity: 0.7;
}

.header li:hover {
  opacity: 1.0;
  transition: all 0.5s;
}

.header .menu-icon {
  display: none;
}

.top {
  height: 25rem;
  margin-bottom: 2rem;
  background-image: url("../images/sydney.jpg");
  background-position: center;
  background-size: cover;
}

.top h1 {
  font-size: 3rem;
  padding-top: 12rem;
  color: white;
  text-align: center;
  text-shadow: 0.25rem 0.25rem 0.25rem black;
}

/* Heading */
.heading {
  font-size: 1.5rem;
  border-bottom: 0.15rem solid navy;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Content */
.content {
  margin-bottom: 2rem;
}

.content p {
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.content li {
  line-height: 1.2rem;
  list-style-type: "- ";
  list-style-position: outside;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.footer {
  background-color: navy;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}