/* General Settings */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto; */
}


/* Settings */

/* Navbar */
nav.navbar {
  background-color: navy;
  position: fixed;
  width: 100%;
  z-index: 10;
}





.header {
  /* background-color: navy;
  color: white;
  position: fixed;
  z-index: 10;
  width: 100%; */
}

.header .container {
  /* display: flex;
  justify-content: space-between; */
}

.header .logo {
  /* font-size: 1.5rem;
  line-height: 4rem; */
}

.logo a {
  /* display: block; */
}

.header .navigation {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* line-height: 4rem; */
}

.header li {
  /* text-align: center; */
  /* padding: 0 1rem; */
  /* background-color: navy;
  opacity: 0.7; */
}

.navigation li:hover {
  /* opacity: 1.0;
  transition: all 0.5s;
  background-color: darkslateblue; */
}

.navigation a {
  /* display: block;
  padding: 0 1rem; */
}

.header .menu-icon {
  /* display: none; */
}




/* Banner */
.banner-image {
  height: 300px;
  background-image: url("../images/sydney.jpg");
  background-position: center;
  background-size: cover;
}

.banner-text h2 {
  text-shadow: 4px 4px 6px black;
}


.top {
  /* height: 25rem;
  margin-bottom: 2rem;
  background-image: url("../images/sydney.jpg");
  background-position: center;
  background-size: cover; */
}

.top h1 {
  /* font-size: 3rem;
  padding-top: 12rem;
  color: white;
  text-align: center;
  text-shadow: 0.25rem 0.25rem 0.25rem black; */
}



/* Heading */
.heading {
  font-size: 1.5rem;
  border-bottom: 0.15rem solid navy;
  padding-bottom: 0.5rem;
  margin-bottom: 1.0rem;
}

/* Content */

/* .card .card-body h4.card-title.border.border-top-0.border-start-0.border-end-0.border-3 {
  border-color: navy;
} */

.card .card-body hr {
  border-color: navy;
  opacity: 1;
}


.content {
  /* margin-bottom: 2rem; */
}

.content p {
  /* line-height: 1.2rem;
  margin-bottom: 0.5rem; */
}

.card .card-body li {
  list-style-type: "- ";
  list-style-position: outside;
}

#portfolio .container {
  padding-top: 6rem;
}

#portfolio a {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

#portfolio p {
  margin-bottom: 1.5rem;
}

#portfolio span {
  font-weight: bold;
}


#about .container {
  padding-top: 6rem;
}

#about p {
  margin-bottom: 1rem;
}

#contact .container {
  padding-top: 6rem;
}

#contact p {
  margin-bottom: 1rem;
}



.btn {
  /* display: block;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  background-color: gray;
  color: white;
  font-size: 1.2rem; */
}

.github {
  background-color: #000000;
}

.linkedin {
  background-color: #0966C2;
}

.twitter {
  background-color: #000000;
}

.freelancer {
  background-color: #28B2FE;
}

.upwork {
  background-color: #14A800;
}

.crowdworks {
  background-color: #0168B8;
}

.myblog {
  background-color: #00749b;
}


/* Footer */
.footer {
  /* z-index: 1000;
  background-color: navy;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
}

.footer-container {
  z-index: 1000;
  background-color: navy;
}




/* Hamburger Menu */
.overlay {
  position: fixed;
  z-index: 100;
  width: 10rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 45, 149, 0.95);
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity, 0.3s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay ul {
  margin-top: 5rem;
  margin-left: 2rem;
}

.overlay li {
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0;
  transform: translateX(1rem);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}


.overlay #close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

#open.hide {
  display: none;
}